@model Flh.AdminSite.Models.Classes.ListModel
@{
    ViewBag.Title = "地区列表";
    Layout = "../Layout/_Manager.cshtml";
}
<div class="crumbs">
    当前分类：
    @if (Model.ParentClasses != null)
    {
        int index = 0;
        int count = Model.ParentClasses.Count;
        foreach (var c in Model.ParentClasses)
        {
            <a href="@Url.Action(" list", new { pno=c.Key })">@c.Value</a>
            index++;
            if (index < count)
            {
                <span>></span>
            }
        }
    }
</div>
<div class="common-list" id="area_list">
    <table class="common-list-table">
            <tr><td colspan="4"><a class="btn-batch-add btn-default" href="@Url.Action("batchadd", new { pno = Model.ParentNo })" target="_blank">批量添加</a></td></tr>
        <tr>
            <th>地区编号</th>
            <th>地区名称</th>
            <th>地区排序</th>
            <th>操作</th>
        </tr>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.No</td>
                <td>@item.Name</td>
                <td>@item.Order</td>
                    <td class="operating">
                        <a class="btn btn-default product-modify" href="javascript:;" data-no="@item.No">修改</a>
                    <a class="btn btn-default" href="@Url.Action("list", new { pno = item.No })" target="_blank">下级地区列表</a>
                    <a class="btn btn-default" href="@Url.Action("batchadd", new { pno = item.No })" target="_blank">批量添加</a>
                </td>
            </tr>
        }
</table>
<div class="page">
    @Html.Pager(Model.Items);
</div>
</div>
<div class="popBox-bg"></div>
<div class="popBox" id="popArea">
    <div class="title" style="border:0px;padding: 16px 0px;">修改分类<span class="btn_close span_close fun_close"></span></div>
    <div class="main">
        <div class="main-list">
            <span>中文名称：</span>
            <input class="main-list-no" type="hidden" name="no" />
            <input class="main-list-name" type="text" name="name" />
        </div>
        <div class="main-list">
            <span>英文名称：</span>
            <input class="main-list-name_en" type="text" name="name_en" />
        </div>
        <div class="main-list">
            <span>排序：</span>
            <input class="main-list-order" type="text" name="order" />
        </div>
    </div>
    <div class="bottom">
        <a class="save-btn fun_save" href="javascript:;">确定</a>
        <a class="cancel-btn fun_close" href="javascript:;">取消</a>
        <div class="clear"></div>
    </div>
</div>

<script>
    $(function () {
        $('.product-modify').on('click', function () {
            var no = $(this).attr('data-no');
            $.ajax({
                type: "get",
                url: "/area/edit",
                data: { "no": no },
                dataType: "json",
                traditional: true,
                success: function (res) {
                    console.log(res);
                    if (res.data) {
                        var Name = res.data.Name || "",
                            EnName = res.data.EnName || "",
                            Order = res.data.Order || "";
                        $('.main-list-no').val(no);
                        $('.main-list-name').val(Name);
                        $('.main-list-name_en').val(EnName);
                        $('.main-list-order').val(Order);
                        $('.popBox-bg').show();
                        $('.popBox').show();
                    }
                }
            })
        });
        //保存
        $('.fun_save').on('click', function () {
            var no = $('.main-list-no').val() || "",
                Name = $('.main-list-name').val() || "",
                           EnName = $('.main-list-name_en').val() || "",
                           Order = $('.main-list-order').val() || "0";
            var data = { "no": no, "name": Name, "EnName": EnName, "Order": Order };
            $.ajax({
                type: "post",
                url: "/area/edit",
                data: data,
                dataType: "json",
                traditional: true,
                success: function (res) {
                    location.reload();
                }
            });
        })
        //关闭
        $('.fun_close').on('click', function () {
            $('.popBox-bg').hide();
            $('.popBox').hide();
        })
    })
</script>