@model Flh.WebSite.Controllers.HomeController.IndexPageClassModel
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Layout/_header.cshtml";
}
<link href="/Resources/css/default.css" rel="stylesheet" />
<div class="flh-index">
    <div class="flh-index-header layout-width">
        <div class="flh-index-header-left lf">
            <div class="flh-index-header-nav">
                @foreach (var item in Model.TopLeftItems)
                {
                  <div class="flh-index-header-nav-list">
                    <a class="flh-index-header-nav-lista" href="javascript:;">
                        <i class="nav-icon-left" id="nav-icon-1"></i>
                        @item.Name
                        <i class="nav-icon-right">&gt;</i>
                    </a>
                    <div class="flh-index-header-nav-main">
                        <ul>
                            @foreach (var sub in item.Children)
                            {
                                <li><a href="javascript:;">@sub.Name</a></li>
                            }                            
                        </ul>
                    </div>
                </div>       
                }                        
            </div>
        </div>
        <div class="flh-index-header-right lf">
            <ul>
                @foreach (var item in Model.TopRightItems)
                {
                <li>
                    <a href="javascript:;">
                        <img alt="@item.Name" src="@item.Img" />
                        <div class="flh-index-header-right-bg"></div>
                        <div class="flh-index-header-right-text">@item.Name</div>
                    </a>
                </li>    
                }                
                <div class="clear"></div>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="flh-index-main layout-width">
        @foreach (var item in Model.BottomRightItems)
        {
          <div class="flh-index-main-list">
            <div class="flh-index-main-left">
                <div class="flh-index-main-list-title">@item.Name</div>
                <a href="javascript:;">
                    <img alt="@item.Name" src="@item.Img" />
                </a>
            </div>
            <div class="flh-index-main-right">
                <ul>
                    @foreach (var sub in item.Children)
                    {
                      <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="@sub.Name" src="@sub.Img" />
                            </div>
                            <p>@sub.Name</p>
                        </a>
                    </li>   
                    }                   
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="clear"></div>
        </div>   
        }       
    </div>
</div>
<div class="flh-index-horizontal">
    <div class="flh-index-horizontal-main">
        @foreach (var item in Model.BottomLeftItems)
{
    <a class="current" href="javascript:;">@item.Name</a>
}
    </div>
</div>
<div class="flh-index-advisory">
    <a href="javascript:;">欢迎咨询</a>
</div>
<script>
    $(function () {
        $('.flh-index-header-nav-list').hover(function () {
            $(this).addClass('nav-hover');
        }, function () {
            $(this).removeClass('nav-hover');
        })
    })
</script>
