@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link href="/Resources/css/header.css" rel="stylesheet" />
</head>
<body>
    <script src="/Resources/Js/jQuery-3.1.0.min.js"></script>
    <div class="flh-layout">
        <div class="flh-layout-header">
            <div class="flh-header-top">
                <div class="flh-header-userInfo">
                    @if (this.Session.GetCurrentUser() != null)
                    {
                        <span>欢迎你：</span>@(this.Session.GetCurrentUser().Name)
                        <a class="" href="@Url.Action("UserInfo", "account")">修改资料</a>
                        <a class="" href="@Url.Action("logout", "account")">退出</a>
                    }
                    else
                    {   <span>您好，欢迎来到辅料汇！</span>
                        <a class="flh-header-login" href="@Url.Action("login", "account")">登录</a>
                        <a class="flh-header-register" href="@Url.Action("register", "account")">免费注册</a>
                    }
                </div>
            </div>
            <div class="flh-header-main">
                <div class="flh-header-main-left">
                    <a href="javascript:;">
                        <img src="#" alt="辅料汇" />
                    </a>
                </div>
                <div class="flh-header-main-middle">
                    <input type="text" name="v-search" value="@(Request.QueryString["kw"])" />
                    <a href="javascript:;" class="fun-search">搜索</a>
                </div>
                <div class="flh-header-main-right">
                    <div class="flh-header-main-ewm">
                        欢迎来到xxxx.com
                        <img src="#" alt="二维码" />
                    </div>
                </div>
            </div>
            @*<div class="flh-header-nav" >
                <ul>
                    <li>
                        <a href="@Url.Action("index", "home")" @(Url.IsCurrent("index", "home") ? "class=\"current\"" : String.Empty)>首页</a>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>*@
        </div>
        @RenderBody()
        <div class="flh-layout-footer">
            <div class="flh-footer-bottom">
                <span>©2016 辅料汇版权所有</span><span>ICP证：粤ICP证030173号</span>  
            </div>
        </div>
    </div>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?9c789789347c4ae6520ebbccd83752f8";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
        $(function () {
            $('.fun-search').on('click', function () {
                var v_search = $.trim($('[name="v-search"]').val());
                if (v_search != "") {
                    window.location.href = "/Product?kw=" + v_search;
                }
            })
        })
    </script>

</body>
</html>
