@model Flh.AdminSite.Models.Classes.ListModel
@{
    ViewBag.Title = "分类列表";
    Layout = "../Layout/_Manager.cshtml";
}
<div class="crumbs">
    当前分类：
    @if (Model.ParentClasses != null)
    {
        int index = 0;
        int count = Model.ParentClasses.Count;
        foreach (var c in Model.ParentClasses)
        {
            <a href="@Url.Action(" list", new { pno=c.Key })">@c.Value</a>
            index++;
            if (index < count)
            {
                <span>></span>
            }
        }
    }
</div>
<div class="common-list" id="product-categories">
    <table class="common-list-table">
        <tr><td colspan="4">@Model.ParentFullName <a class="btn-add-all btn-default" href="@Url.Action("batchadd", new { pno = Model.ParentNo })" target="_blank">批量添加</a></td></tr>
        <tr>
            <th width="20%">分类编号</th>
            <th width="35%">分类名称</th>
            <th width="10%">分类排序</th>
            <th style="text-align:center">操作</th>
        </tr>

        @foreach (var item in Model.Items)
        {            
        <tr>
            <td>@item.No</td>
            <td>@item.Name</td>
            <td>@item.Order</td>
                <td class="operating">
                <a class="btn btn-default" href="@Url.Action("edit", new { no = item.No })" target="_blank">修改</a>
                <a class="btn btn-default" href="@Url.Action("list", new { pno = item.No })" target="_blank">子分类列表</a>
                    <a class="btn btn-default" href="@Url.Action("batchadd", new { pno = item.No })" target="_blank">批量添加</a>
                <a class="btn btn-default" href="@Url.Action("BatchEdit", "product", new { classNo = item.No })" target="_blank">添加产品</a>
            </td>
        </tr>            
        }

</table>
<div class="page">
    @Html.Pager(Model.Items);
</div>
</div>
