@model Flh.AdminSite.Models.Users.UserViewModel
@{
    Layout = "~/Views/Layout/_Manager.cshtml";
    ViewBag.Title = "用户详情";
}
<div class="crumbs">您的位置：辅料汇后台 &gt;  会员管理 &gt; 用户详情</div>
@item.address<br />
@item.area_no<br />
@item.company<br />
@item.email<br />
@item.employees_count_type<br />
@item.enabled<br />
@item.enabled_memo<br />
@item.industry_no<br />
@item.is_purchaser<br />
@item.last_login_date<br />
@item.mobile<br />
@item.name<br />
@item.neet_invoice<br />
@item.pwd<br />
@item.register_date<br />
@item.tel
@item.uid