@model Flh.AdminSite.Models.Users.ListViewModel
@{
    Layout = "~/Views/Layout/_Manager.cshtml";
    ViewBag.Title = "用户列表";
}
<style>
    .form-table td {
        padding: 10px;
    }

    .cb {
        width: 30px;
        height: 20px;
    }
</style>
<div class="crumbs">您的位置：辅料汇后台 &gt;  会员管理 &gt; 会员列表</div>
<div class="layout-search">
    <form>
        <table class="form-table">
            <tr>
                <td>姓名：</td>
                <td><input class="input-mobile" name="name" value="@Model.name" /></td>
                <td>手机：</td>
                <td><input class="input-mobile" name="mobile" value="@Model.mobile" type="text" placeholder="输入手机号码 进行搜索" /></td>

                <td>行业：</td>
                <td><input class="input-mobile" name="industry_no" value="@Model.industry_no" /></td>

            </tr>
            <tr>
                <td>注册时间：</td>
                <td><input class="input-mobile" name="min_register_date" value="@Model.min_register_date" />-<input class="input-mobile" name="max_register_date" value="@Model.max_register_date" /></td>
                <td>登录时间：</td>
                <td><input class="input-mobile" name="min_login_date" value="@Model.min_login_date" />-<input class="input-mobile" name="max_login_date" value="@Model.max_login_date" /></td>
                <td>采购权限：</td>
                <td>
                <label><input class="cb" type="radio" name="is_purchaser" @(Model.is_purchaser.HasValue && Model.is_purchaser.Value==true ? "checked" : String.Empty) value="True" />有</label>
                &nbsp;&nbsp;<label><input class="cb" type="radio" name="is_purchaser" @(Model.is_purchaser.HasValue && Model.is_purchaser.Value == false ? "checked" : String.Empty) value="False" />无</label></td>
            </tr>
            <tr><td align="center" colspan="6"><button class="btn btn-default" type="submit">搜索</button></td></tr>
        </table>
    </form>
</div>
<div class="common-list">
    <table class="common-list-table">
        <tr>
            <th width="40%">姓名</th>
            <th width="40%">联系方式</th>
            <th width="20%">操作</th>
        </tr>
        @if (Model.Items.Any())
        {
            var GetBindValue = new Func<String, String>(value => String.IsNullOrWhiteSpace(value) ? "--" : value);
            foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        <p>姓名：@item.Item.name</p>
                        <p>用户编号：@item.Item.uid</p>
                        <p style="color:red">地区：@GetBindValue(item.area)</p>
                        <p>公司：@GetBindValue(item.Item.company)</p>
                        <p>屏蔽：@(item.Item.enabled ? "否" : "是")</p>
                        @if (!item.Item.enabled)
                        {
                            <p>屏蔽备注：@GetBindValue(item.Item.enabled_memo)</p>
                        }
                        <p style="color:red">行业：@GetBindValue(item.industry)</p>
                        <p>采购权限：@(item.Item.is_purchaser ? "有" : "无")</p>
                        <p>最后登录时间：@item.Item.last_login_date.ToString("yyyy-MM-dd HH:mm:ss")</p>
                        <p>注册时间：@item.Item.register_date.ToString("yyyy-MM-dd HH:mm:ss")</p>
                        employees_count_type：@item.Item.employees_count_type<br />
                        neet_invoice：@item.Item.neet_invoice<br />
                    </td>
                    <td>

                        <p>手机：@GetBindValue(item.Item.mobile)</p>
                        <p>电话：@GetBindValue(item.Item.tel)</p>
                        <p>邮箱：@GetBindValue(item.Item.email)</p>
                        <p>地址：@GetBindValue(item.Item.address)</p>
                    </td>      
                    <td>
                        <a href="javascript:;">添加跟进记录</a>
                        <br /><a href="/User/Details/@item.Item.uid" target="_blank">查看详情</a>
                    </td>             
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">
                    @if (Request.QueryString.Count==0)
                    {
                        <div style="text-align:center;padding:30px;">请输入查询条件，点击搜索按钮进行搜索</div>
                    }
                    else
                    {
                        <div style="text-align: center; padding: 30px;">没查到任何记录，您可以改变搜索条件再试试</div>
                    }
                </td>
            </tr>

        }
    </table>
</div>
<div class="page">
    @Html.Pager(Model.Items);
</div>