@model Flh.AdminSite.Controllers.AdminManageListItemModel[]
@{
    Layout = "~/Views/Layout/_Manager.cshtml";
    ViewBag.Title = "管理员列表";
}
<div class="crumbs">您的位置：辅料汇后台 &gt;  会员管理 &gt; 会员列表</div>

<div class="layout-search">
    <form>
        手机号码：<input class="input-mobile" name="mobile" value="@ViewBag.Mobile" type="text" placeholder="输入手机号码 进行搜索" />
        <button class="btn btn-default" type="submit">搜索</button>
        <span style="margin-left:20px;color:#666;">若要【添加管理员】，请选输入手机号码，搜索出对应账号，然后点击右边的【设为管理员】按钮即可</span>
    </form>
</div>

<div class="common-list">
    <table class="common-list-table">
        <tr>
            <th width="20%">姓名</th>
            <th width="20%">手机号码</th>
            <th width="20%">管理员</th>
            <th width="20%">设置时间</th>
            <th>操作</th>
        </tr>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.Mobile</td>
                    <td>@(item.IsAdmin ? "是" : "否")</td>
                    <td>@(item.CreateDate.HasValue ? item.CreateDate.Value.ToString("yyyy-MM-dd") : "--")</td>
                    <td>
                        @if (item.IsAdmin)
                        {
                            <button data-event="remove" data-uid="@item.Uid" data-name="@item.UserName" type="button">删除管理员</button>
                        }
                        else
                        {
                            <button data-event="add" data-uid="@item.Uid" data-name="@item.UserName" type="button">设为管理员</button>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">
                    @if (!String.IsNullOrWhiteSpace(ViewBag.Mobile))
                    {
                    <div style="text-align:center;padding:30px;">没有找到对应的账号</div>
                    }
                    else
                    {
                        <div style="text-align: center; padding: 30px;">还没有设置任何管理员</div>
                    }                    
                </td>
            </tr>
           
        }  
    </table>
</div>

<script>
    $(function () {

        $('[data-event="remove"]').click(function () {
            if (confirm("确实要删除管理员【" + $(this).attr("data-name") + "】？")) {
                var uid = $(this).attr("data-uid");
                $.post("/Admin/Remove", { uid: uid }, function (result) {
                    AjaxResultHandler(result, function () {
                        alert("操作成功");
                        window.location.reload();
                    });
                }, "json").fail(function () {
                    alert("发生错误了，请重试");
                });
            }
        });

        $('[data-event="add"]').click(function () {
            if (confirm("确实要将【" + $(this).attr("data-name") + "】添加为管理员？")) {
                var uid = $(this).attr("data-uid");
                $.post("/Admin/Add", { uid: uid }, function (result) {
                    AjaxResultHandler(result, function () {
                        alert("操作成功");
                        window.location.reload();
                    });
                }, "json").fail(function () {
                    alert("发生错误了，请重试");
                });
            }
        });

        $('[data-event="tryAddAdmin"]').click(function () {
            alert("请在输入框中输入【手机号码】后点击【搜索】按钮，根据搜索出来的用户选择设置或删除管理员");
            $(this).hide();
            $('[name=mobile]').focus();
        });
        function AjaxResultHandler(result, success) {
            if (result.code == 0) {
                success(result);
            }
            else {
                alert(result.msg);
            }
        }
    });
</script>